*{
    align-items: center;
    margin: auto;

    
}

.form{
    margin-top: 100px;
    height: 400px;
    width: 450px;
    border-style: dashed;
    border-color: black;
    border-radius: 20px;
    /* align-items: center; */
    text-align: center;
    background-color: #94cfef;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.681);

}

.form:hover{
    box-shadow: 10px 10px 10px 10px palevioletred;
}

.login_head{
    padding-top: 20px;
    padding-bottom: 10px;
    
}

.email{
    padding: 20px;
}

.pass{
    padding: 20px;
}

button{
    padding: 5px;
    border-radius: 30px;
    background-color:#FFE5CF;
    width: 120px;
    box-shadow: 5px 5px rgb(41, 137, 166);
}

.reg{
    padding: 20px;
 
}

#email{
    border-radius: 15px;
    padding: 5px ;
    text-align: center;
    margin: 5px;
    width: 75%;
    background-color: rgb(158, 220, 237);
    box-shadow: 5px 5px rgb(41, 137, 166);

}
#pass{
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    width: 75%;
    background-color: rgb(158, 220, 237);
    box-shadow: 5px 5px rgb(41, 137, 166);
}

